Repository trxsh-coding/canadian-lawn: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_and_deploy_web, build_and_deploy_backend

Path conditions:
  build_and_deploy_web: any of: apps/web/**/*, packages/ui-kit/**/*, packages/api/**/*, .gitlab-ci.yml
  build_and_deploy_backend: any of: apps/backend/**/*, .gitlab-ci.yml

Добавил лоадеры, пофиксил главную, сделал обработку ошибок
  .gitlab-ci.yml
Due: build_and_deploy_web, build_and_deploy_backend

Подправил гитигнор, залил иконку
  .gitignore
  packages/ui-kit/assets/sprites/common/error.svg
Due: build_and_deploy_web

Подправил гитигнор, залил иконку
  apps/backend/config/middlewares.ts
Due: build_and_deploy_backend

Подправил гитигнор, залил иконку
  ecosystem.frontend.config.cjs
Due: none

Подправил гитигнор, залил иконку
  .gitlab-ci.yml
Due: build_and_deploy_web, build_and_deploy_backend

Подправил гитигнор, залил иконку
  .gitlab-ci.yml
  ecosystem.backend.config.cjs
  ecosystem.config.cjs
  ecosystem.frontend.config.cjs
Due: build_and_deploy_web, build_and_deploy_backend

Подправил гитигнор, залил иконку
  .yarn/install-state.gz
Due: none

Подправил гитигнор, залил иконку
  .yarn/install-state.gz
  apps/web/package.json
  yarn.lock
Due: build_and_deploy_web

Подправил гитигнор, залил иконку
  package.json
Due: none

Подправил гитигнор, залил иконку
  .yarn/install-state.gz
  yarn.lock
Due: none

Подправил гитигнор, залил иконку
  .gitlab-ci.yml
  apps/web/next.config.mjs
Due: build_and_deploy_web, build_and_deploy_backend

Подправил гитигнор, залил иконку
  ecosystem.config.cjs
Due: none

фикс раннера
  .gitlab-ci.yml
  ecosystem.backend.config.cjs
  ecosystem.config.cjs
  ecosystem.frontend.config.cjs
Due: build_and_deploy_web, build_and_deploy_backend

фикс раннера
  .gitlab-ci.yml
Due: build_and_deploy_web, build_and_deploy_backend

фикс раннера
  ecosystem.backend.config.cjs
Due: none

Проверка раннера
  .gitlab-ci.yml
  .yarn/install-state.gz
  apps/backend/config/database.ts
  apps/backend/package.json
  apps/backend/server.js
  apps/backend/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  apps/web/next.config.mjs
  ecosystem.backend.config.cjs
  ecosystem.frontend.config.cjs
Due: build_and_deploy_web, build_and_deploy_backend

Проверка раннера
  .gitlab-ci.yml
Due: build_and_deploy_web, build_and_deploy_backend
