Repository trxsh-coding/canadian-lawn: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, deploy-frontend

build-frontend:
  stage: build-frontend
  tags:
  - deploy
  needs:
  - job: setup
  script:
  - yarn workspaces focus @canadian-lawn/ui-kit @canadian-lawn/api @canadian-lawn/web  --production
  - echo "⚙️ Сохраняю .env для фронта..."
  - echo "$ENV_WEB" > "apps/web/.env"
  - echo "$ENV_WEB" > "packages/api/.env"
  - yarn build:all
  ...

deploy-frontend:
  stage: deploy-frontend
  tags:
  - deploy
  needs:
  - job: build-frontend
    optional: true
  script:
  - echo "Копируем файлики"
  - cd apps/web
  - rsync -a --include=".next/standalone/**" . "$FRONTEND_DEST_DIR"
  - rsync -a --include=".next/static" . "$FRONTEND_DEST_DIR/$FRONTEND_WORKING_DIR"
  ...

Фикс верстки
  apps/web/src/components/sections/Main/Feedback/Feedback.tsx
Due: build-frontend, deploy-frontend

Фикс верстки
  apps/web/src/components/sections/About/TopContent.tsx
Due: build-frontend, deploy-frontend

Фикс верстки
  apps/web/src/components/layout/Header/Header.tsx
  apps/web/src/components/layout/LayoutWrapper/LayoutWrapper.tsx
  apps/web/src/components/layout/NavItem/NavItem.tsx
Due: build-frontend, deploy-frontend

Фикс верстки
  apps/backend/config/plugins.ts
  apps/backend/src/extensions/documentation/documentation/2.0.0/full_documentation.json
  apps/web/src/components/sections/Lawn/LawnDetails.tsx
Due: build-frontend, deploy-frontend

fix: packages/api/package.json to reduce vulnerabilities
  packages/api/package.json
Due: build-frontend

fix: apps/backend/package.json to reduce vulnerabilities
  apps/backend/package.json
Due: none

fix: apps/web/package.json to reduce vulnerabilities
  apps/web/package.json
Due: build-frontend, deploy-frontend

Сделал корзину
  apps/web/src/app/(public)/cart/page.tsx
Due: build-frontend, deploy-frontend

Path conditions:
  build-frontend: any of: apps/web/**/*, packages/ui-kit/**/*, packages/api/**/*, .gitlab-ci.yml
  deploy-frontend: any of: apps/web/**/*, .gitlab-ci.yml
