Repository trxsh-coding/canadian-lawn: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, deploy-frontend

build-frontend:
  stage: build-frontend
  tags:
  - deploy
  needs:
  - job: setup
  script:
  - yarn workspaces focus @canadian-lawn/ui-kit @canadian-lawn/api @canadian-lawn/web  --production
  - echo "⚙️ Сохраняю .env для фронта..."
  - echo "$ENV_WEB" > "apps/web/.env"
  - echo "$ENV_WEB" > "packages/api/.env"
  - yarn build:all
  ...

deploy-frontend:
  stage: deploy-frontend
  tags:
  - deploy
  needs:
  - job: build-frontend
    optional: true
  script:
  - echo "Копируем файлики"
  - cd apps/web
  - rsync -a --include=".next/standalone/**" . "$FRONTEND_DEST_DIR"
  - rsync -a --include=".next/static" . "$FRONTEND_DEST_DIR/$FRONTEND_WORKING_DIR"
  ...

Добавил условия под раннер бэка
  .gitlab-ci.yml
  .yarn/install-state.gz
Due: build-frontend, deploy-frontend

Добавил условия под раннер бэка
  .gitlab-ci.yml
Due: build-frontend, deploy-frontend

Добавил условия под раннер бэка
  apps/backend/config/middlewares.ts
  apps/backend/src/extensions/documentation/documentation/1.0.0/full_documentation.json
Due: none

Добавил условия под раннер бэка
  apps/backend/config/middlewares.ts
Due: none

Добавил условия под раннер бэка
  .yarn/install-state.gz
  apps/backend/config/plugins.ts
  apps/backend/package.json
  apps/backend/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  yarn.lock
Due: none

Добавил условия под раннер бэка
  apps/backend/config/middlewares.ts
  apps/web/src/config/queryClientConfig.ts
  packages/api/src/clients/axios.ts
Due: build-frontend, deploy-frontend

Поменял корс
  apps/backend/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  packages/api/src/clients/axios.ts
  packages/api/src/config/env.ts
Due: build-frontend

Поменял корс
  apps/backend/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  apps/web/src/components/sections/Main/Feedback/Feedback.tsx
  apps/web/src/components/sections/Main/Technique/Technique.tsx
  packages/ui-kit/assets/images/card-placeholder.png
  packages/ui-kit/lib/components/Card/Card.tsx
Due: build-frontend, deploy-frontend

Добавил модель с газонами
  apps/backend/src/admin/app.tsx
  apps/backend/src/api/lawn/content-types/lawn/schema.json
  apps/backend/src/api/lawn/controllers/lawn.ts
  apps/backend/src/api/lawn/routes/lawn.ts
  apps/backend/src/api/lawn/services/lawn.ts
  apps/backend/src/components/common/months.json
  apps/backend/src/extensions/documentation/documentation/1.0.0/full_documentation.json
Due: none

Добавил модель с газонами
  apps/backend/src/api/lawn/content-types/lawn/schema.json
  apps/backend/src/components/common/months.json
  apps/backend/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  apps/backend/types/generated/components.d.ts
  apps/backend/types/generated/contentTypes.d.ts
  configs/eslint.common.mjs
Due: none

Добавил модель с газонами
  apps/backend/src/api/lawn/content-types/lawn/schema.json
  apps/backend/src/components/common/months.json
  apps/backend/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  apps/backend/types/generated/components.d.ts
  apps/backend/types/generated/contentTypes.d.ts
Due: none

Добавил кастомный роут, починил сваггер
  .yarn/install-state.gz
  apps/backend/config/plugins.ts
  apps/backend/package.json
  apps/backend/src/admin/app.tsx
  apps/backend/src/admin/vite.config.ts
  apps/backend/src/api/lawn-type/content-types/lawn-type/schema.json
  apps/backend/src/api/lawn-type/controllers/lawn-type.ts
  apps/backend/src/api/lawn-type/routes/lawn-type.ts
  apps/backend/src/api/lawn-type/services/lawn-type.ts
  apps/backend/src/api/lawn/content-types/lawn/schema.json
  apps/backend/src/api/lawn/controllers/lawn.ts
  apps/backend/src/api/lawn/routes/01-custom-routes.ts
  apps/backend/src/api/lawn/routes/lawn.ts
  apps/backend/src/api/lawn/services/lawn.ts
  apps/backend/src/components/common/lawn-type-percent.json
  apps/backend/src/extensions/config/settings.json
  apps/backend/src/extensions/documentation/documentation/2.0.0/full_documentation.json
  apps/backend/src/extensions/documentation/public/index.html
  apps/backend/src/extensions/documentation/public/index2.html
  apps/backend/src/utils/index.ts
  apps/backend/types/generated/components.d.ts
  apps/backend/types/generated/contentTypes.d.ts
  apps/web/public/sprites/common.svg
  apps/web/src/components/layout/NavLinks/NavLinks.tsx
  apps/web/src/components/sections/Main/Lawns/Lawns.tsx
  apps/web/src/hooks/useLawn.ts
  packages/api/src/schemas/lawn.ts
  packages/ui-kit/assets/images/image.png
  packages/ui-kit/assets/sprites/common/garbage.svg
  packages/ui-kit/assets/sprites/common/image.png
  packages/ui-kit/lib/components/LawnCard/LawnCard.tsx
  packages/ui-kit/lib/components/Pic/Pic.tsx
  packages/ui-kit/lib/components/Progress/Progress.tsx
  packages/ui-kit/lib/components/Progress/index.ts
  packages/ui-kit/lib/index.ts
  packages/ui-kit/lib/sprite.h.ts
  packages/ui-kit/public/sprites/common.svg
  packages/ui-kit/src/App.tsx
  packages/ui-kit/src/config.json
  yarn.lock
Due: build-frontend, deploy-frontend

Описание
  README.md
Due: none

fix: apps/web/package.json to reduce vulnerabilities
  apps/web/package.json
Due: build-frontend, deploy-frontend

Добавил фильтрацию
  apps/backend/src/api/contact-page/content-types/contact-page/schema.json
  apps/backend/src/api/contact-page/controllers/contact-page.ts
  apps/backend/src/api/contact-page/routes/contact-page.ts
  apps/backend/src/api/contact-page/services/contact-page.ts
  apps/backend/src/api/lawn-type/content-types/lawn-type/schema.json
  apps/backend/src/api/lawn/content-types/lawn/schema.json
  apps/backend/src/api/partners-type/content-types/partners-type/schema.json
  apps/backend/src/components/common/lawn-type-percent.json
  apps/backend/src/extensions/documentation/documentation/2.0.0/full_documentation.json
  apps/backend/src/extensions/documentation/public/index.html
  apps/backend/types/generated/components.d.ts
  apps/backend/types/generated/contentTypes.d.ts
  apps/web/next.config.mjs
  apps/web/src/app/lawn/page.tsx
  apps/web/src/components/atoms/Loaders/Spinner.tsx
  apps/web/src/components/atoms/Loaders/index.ts
  apps/web/src/components/layout/Header/Header.tsx
  apps/web/src/components/sections/Lawns/LawnFilters.tsx
  apps/web/src/components/sections/Lawns/Lawns.tsx
  apps/web/src/components/sections/Lawns/config.ts
  apps/web/src/components/sections/Main/Feedback/Feedback.tsx
  apps/web/src/const/filters.ts
  apps/web/src/const/index.ts
  apps/web/src/hooks/api/useLawnDetail.ts
  apps/web/src/hooks/api/useLawns.ts
  apps/web/src/hooks/buildCollectionPrefetchQuery.ts
  apps/web/src/hooks/useFiltersState.ts
  apps/web/src/hooks/useFiltersWithQuery.ts
  apps/web/src/hooks/useUrlArrayParam.ts
  apps/web/src/utils/debounce.ts
  apps/web/src/utils/filters.ts
  packages/api/src/schemas/lawn.ts
  packages/api/src/schemas/partner.ts
  packages/ui-kit/lib/components/Icon/CircleSpinner.tsx
  packages/ui-kit/lib/components/Icon/index.ts
Due: build-frontend, deploy-frontend

Добавил DetailLawn Page
  apps/web/src/app/(public)/lawn/[slug]/page.tsx
  apps/web/src/app/(public)/lawn/page.tsx
Due: build-frontend, deploy-frontend

Фикс yarn
  .yarn/install-state.gz
  yarn.lock
Due: none

Фикс карточки
  apps/web/src/components/sections/Lawns/Lawns.tsx
Due: build-frontend, deploy-frontend

Страница ABout
  .gitlab-ci.yml
  .strapi-updater.json
  .yarn/install-state.gz
  apps/backend/config/admin.ts
  apps/backend/config/server.ts
  apps/backend/src/api/about-page/content-types/about-page/schema.json
  apps/backend/src/api/about-page/controllers/about-page.ts
  apps/backend/src/api/about-page/routes/about-page.ts
  apps/backend/src/api/about-page/services/about-page.ts
  apps/backend/src/components/common/blocks.json
  apps/backend/src/extensions/documentation/documentation/2.0.0/full_documentation.json
  apps/backend/types/generated/components.d.ts
  apps/backend/types/generated/contentTypes.d.ts
  apps/web/src/app/(public)/about/page.tsx
  apps/web/src/components/sections/About/About.tsx
  apps/web/src/components/sections/About/index.ts
  apps/web/src/hooks/api/useAbout.ts
  packages/api/package.json
  packages/api/src/schemas/about.ts
  packages/api/src/schemas/index.ts
  tsconfig.tsbuildinfo
  yarn.lock
Due: build-frontend, deploy-frontend

Страница ABout
  apps/backend/config/admin.ts
  apps/backend/src/extensions/documentation/documentation/2.0.0/full_documentation.json
Due: none

Страница ABout
  .gitlab-ci.yml
  apps/backend/config/admin.ts
  apps/backend/src/extensions/documentation/documentation/2.0.0/full_documentation.json
Due: build-frontend, deploy-frontend

Фикс корса
  apps/backend/config/middlewares.ts
  apps/backend/src/extensions/documentation/documentation/2.0.0/full_documentation.json
Due: none

Фикс корса
  apps/backend/config/middlewares.ts
Due: none

Добавил едитор
  .yarn/install-state.gz
  apps/backend/config/middlewares.ts
  apps/backend/package.json
  apps/backend/public/fonts/GolosBold.woff2
  apps/backend/public/fonts/GolosRegular.woff2
  apps/backend/public/fonts/MursGothic.woff2
  apps/backend/src/admin/app.tsx
  apps/backend/src/admin/fonts.css
  apps/backend/src/api/about-page/content-types/about-page/schema.json
  apps/backend/src/extensions/documentation/documentation/2.0.0/full_documentation.json
  apps/backend/src/extensions/documentation/public/index.html
  apps/backend/types/generated/contentTypes.d.ts
  apps/web/package.json
  apps/web/src/app/(public)/about/page.tsx
  apps/web/src/components/atoms/TextBlocks/TextBlocks.tsx
  apps/web/src/components/atoms/TextBlocks/index.ts
  apps/web/src/components/sections/About/About.tsx
  apps/web/src/components/sections/About/TopContent.tsx
  apps/web/src/hooks/api/useAbout.ts
  packages/api/src/config/endpoints.ts
  packages/api/src/schemas/about.ts
  packages/api/src/schemas/block.ts
  packages/api/src/schemas/index.ts
  yarn.lock
Due: build-frontend, deploy-frontend

Фикс CI
  .gitlab-ci.yml
Due: build-frontend, deploy-frontend

Фикс CI
  apps/backend/config/middlewares.ts
Due: none

Path conditions:
  build-frontend: any of: apps/web/**/*, packages/ui-kit/**/*, packages/api/**/*, .gitlab-ci.yml
  deploy-frontend: any of: apps/web/**/*, .gitlab-ci.yml
