Repository trxsh-coding/canadian-lawn: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_and_deploy_web, build_and_deploy_backend

.gitlab-ci.yml:

stages:
  - db_up
  - build_and_deploy_web
  - build_and_deploy_backend

variables:
  DEST_DIR: "/var/www/canadian-lawn"

# ==========================
# ⚡️ POSTGRES (docker compose up)
# ==========================
db_up:
  stage: db_up
  tags:
    - deploy
  script:
    - docker-compose up -d postgres
  when: on_success
  rules:
    - if: $CI_PIPELINE_SOURCE == "push"

# ==========================
# ⚡️ WEB
# ==========================
build_and_deploy_web:
  stage: build_and_deploy_web
  tags:
    - deploy
  rules:
    - changes:
        - "apps/web/**/*"
        - "packages/ui-kit/**/*"
        - "packages/api/**/*"
  script:
    # 1️⃣ Копируем весь репозиторий
    - rsync -a . $DEST_DIR/
    - cd $DEST_DIR

    # 2️⃣ Установка зависимостей для Web
    - corepack enable
    - yarn set version 4.9.2
    - yarn install --no-immutable

    # 3️⃣ Сборка Web (через workspaces для ui-kit, api, web)
    - yarn workspaces focus @canadian-lawn/ui-kit @canadian-lawn/api @canadian-lawn/web
    - yarn build:ui
    - yarn build:api
    - yarn build:web

    # 4️⃣ .env для Web
    - echo "$ENV_WEB" > $DEST_DIR/apps/web/.env

    # 5️⃣ Перезапускаем PM2 для Web
    - pm2 reload canadian-web || pm2 start "yarn workspace @canadian-lawn/web run start:prod" --name canadian-web

# ==========================
# ⚡️ BACKEND
# ==========================
build_and_deploy_backend:
  stage: build_and_deploy_backend
  tags:
    - deploy
  needs:
    - db_up
  rules:
    - changes:
        - "apps/backend/**/*"
  script:
    # 1️⃣ Копируем весь репозиторий
    - rsync -a . $DEST_DIR/
    - cd $DEST_DIR

    # 2️⃣ Установка зависимостей для Backend
    - corepack enable
    - yarn set version 4.9.2
    - yarn install --no-immutable
    - yarn workspaces focus @canadian-lawn/backend

    # 3️⃣ Сборка Backend
    - yarn build:backend

    # 4️⃣ .env для Backend
    - echo "$STRAPI_ENV_FILE" > $DEST_DIR/apps/backend/.env

    # 5️⃣ Установка production-зависимостей для Backend
    - yarn workspaces focus @canadian-lawn/backend --production

    # 6️⃣ Перезапускаем PM2 для Backend
    - pm2 reload canadian-api || pm2 start "yarn workspace @canadian-lawn/backend run start:prod" --name canadian-api

Фикс раннера
  .gitlab-ci.yml
Due: none

Фикс раннера
  .gitlab-ci.yml
  package.json
Due: none

Фикс раннера
  package.json
Due: none

Фикс раннера
  ecosystem.config.js
Due: none

Фикс раннера
  apps/backend/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  apps/backend/src/extensions/documentation/public/index.html
  ecosystem.config.js
  strapi_db.dump
Due: build_and_deploy_backend

Фикс раннера
  apps/backend/config/server.ts
Due: build_and_deploy_backend

Фикс раннера
  .gitlab-ci.yml
  apps/backend/src/extensions/documentation/documentation/1.0.0/full_documentation.json
Due: build_and_deploy_backend

Фикс раннера
  ecosystem.config.cjs
Due: none

Фикс раннера
  .gitlab-ci.yml
  ecosystem.config.backend.cjs
  ecosystem.config.frontend.cjs
Due: none

Фикс раннера
  ecosystem.backend.config.cjs
  ecosystem.frontend.config.cjs
Due: none

Добавил лоадеры, пофиксил главную, сделал обработку ошибок
  .yarn/install-state.gz
  apps/backend/src/extensions/documentation/documentation/1.0.0/full_documentation.json
  apps/web/package.json
  apps/web/public/sprites/common.svg
  apps/web/src/app/globals.css
  apps/web/src/app/page.tsx
  apps/web/src/components/atoms/AdaptiveSkeleton/AdaptiveSkeleton.tsx
  apps/web/src/components/atoms/AdaptiveSkeleton/index.ts
  apps/web/src/components/atoms/Loaders/TechniqueLoader.tsx
  apps/web/src/components/atoms/Loaders/index.ts
  apps/web/src/components/layout/Blur/Blur.tsx
  apps/web/src/components/layout/Blur/index.ts
  apps/web/src/components/layout/ErrorWidget/ErrorWidget.tsx
  apps/web/src/components/layout/ErrorWidget/index.ts
  apps/web/src/components/layout/Header/Header.tsx
  apps/web/src/components/layout/SectionWrapper/SectionWrapper.tsx
  apps/web/src/components/sections/Main/MainLayout.tsx
  apps/web/src/components/sections/Main/Partners/Partners.tsx
  apps/web/src/components/sections/Main/Preview/Preview.tsx
  apps/web/src/components/sections/Main/Technique/Technique.tsx
  apps/web/src/components/sections/Main/Tractors/Tractors.tsx
  apps/web/src/hooks/useBreakpoints.ts
  apps/web/src/hooks/useOverlayEffect.ts
  apps/web/src/hooks/useResponsiveCounts.tsx
  apps/web/src/stores/index.ts
  apps/web/src/stores/overlay.ts
  apps/web/src/types/enums.ts
  package.json
  packages/ui-kit/lib/components/Button/Button.tsx
  packages/ui-kit/lib/sprite.h.ts
  packages/ui-kit/public/sprites/common.svg
  yarn.lock
Due: build_and_deploy_web, build_and_deploy_backend

Добавил лоадеры, пофиксил главную, сделал обработку ошибок
  apps/web/src/components/sections/Main/Technique/index.ts
  apps/web/src/components/sections/Main/Tractors/index.ts
Due: build_and_deploy_web

Добавил лоадеры, пофиксил главную, сделал обработку ошибок
  apps/web/next.config.mjs
  ecosystem.frontend.config.cjs
Due: build_and_deploy_web
